.card-races:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px;
    cursor: pointer;
}
.no-style {
    text-decoration: none;
}
.card-races{
    height: 360px;
    width: 400px;
    background-color: #e10600;
}
.result-style, .uploadRaceButton{
    background-color: #e10600;
}
.uploadRaceButton:hover{
    background-color: #bb0c05;
}
.jup{
    background-color: #1a202c;
    border-color: #e10600;
}

.title {
    color: #e10600 !important;
    font-weight: 700 ;
    font-size: 1.5rem !important;
}
.maxheight-220 {
    max-height: 220px;
}

.navbarglobal {
    background-color: rgb(40 40 40);
}