.card-races:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px;
    cursor: pointer;
}
.no-style {
    text-decoration: none;
}
.card-races{
    background-color: #e10600;
}
.navbarglobal{
    background-color: #e10600;
}
.result-style{
    background-color: #e10600;
}
.uploadRaceButton{
    background-color: #e10600;
}
.uploadRaceButton:hover{
    background-color: #bb0c05;
}
.jup{
    background-color: #1a202c;
    border-color: #e10600;
}

